/**
 * Syntax highlighting styles
 */
$green : #A6E22A;
$blue  : #84D7EC;
$yellow :#E6DB74;
$magenta:  #F92672;
$greylight : #E6E6E6;
$original : #eee;
$background:#383830;
$grey:#595959;
$violet:#AE81FF;

/**
 * Code formatting
 */
pre,
code,
kbd,
samp {
    font-family: "Droid Sans Mono", monospace, sans-serif;
    font-size: $text-font-size * 0.8;
    border-radius: 3px;
}

samp {
    font-size: $text-font-size;
}

code {
    padding: 1px 5px;
    background-color: $grey-color-light;
    border: 1px solid $grey-color;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        font-size: 15.3px;
        background-color: $background;
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

kbd {
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    border: #CCC 1px solid;
    color: #666;
    text-shadow: #FFF 0 1px 0;
    font-size: 0.9em;
    font-weight: 700;
    background: #F4F4F4;
    border-radius: 4px;
}

.highlight{
  @extend %vertical-rhythm;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2em;
  background-color: $background;
  color:$original;
  padding: 5px;
  border-radius: 5px;

  .lineno{
    margin: 3px;
    font-size: 16px;
    color:$greylight;
  }
  .c,.cm,.cp,.c1,.cs{/* comment */
    color:$grey;
  }
  .k,.kc,.kd,.kn,.kp,.kr,.kt,.o,.nt{/* key word*/
    color: $magenta;
  }
  .m,.mf,.mh,.mi,.mo{/*number*/
    color:$violet;
  }
  .s,.sb,.sc,.sd,.s2,.se,.sh,.si,.sx,.sr,.s1,.ss{/*string*/
    color:$yellow;
  }
  .nf,.na,.nc{
    color:$green;
  }
  .css .k,.nb,.kd,.n{
    font-style: italic;
    color:$blue;
  }
}


